/*Limpar formatações padrões*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f3f2f28e;
}

/* LAYOUT */

#area-cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens{
    width: 660px;
    float: left;
}


#area-lateral{
    width: 240px;
    float: right;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background:rgba(204, 204, 204, 0.26);
}
/* FORMATAÇÃO DO MENU */
a{
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600
}

a:hover{
    text-decoration:underline;
    color: #f7b600;
    background-color: white;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #fff;
    padding: 8px 12px;
}

#area-cabecalho a:hover{
    text-decoration: none;
    color: #f7b600;
    background-color: white;
}

/* FORMATAÇAO EM GERAL*/
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: white;
}

h2{
    color: #f7b600;
}

h3{
    background-color: rgba(109, 109, 109, 0.774);
    color: white;
}


.data-postagem{
    display: block;
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
}

.categoria{
    background-color: rgba(109, 109, 109, 0.774);
    color: white;
}
